a[href*='https://github.com/Chainlit/chainlit'] {
    visibility: hidden !important;
}


/* Hide readme button */

.watermark {
    visibility: hidden !important;
}

.css-8kxmdr {
    visibility: hidden !important;
}

/* Hide Chat button */
.css-plyx71 {
    visibility: hidden !important;
}

/* Logo */
.css-12hxhao {
    visibility: hidden !important;
}

/* chainlit footer */
.css-1705j0v {
    visibility: hidden !important;
}